h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

.slider-container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 125px;
    & ul {
        width: 100%;
        margin-top: 38px;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        & .slider-content {
            background: $background-color;
            box-shadow: 0px 4px 16px $slider-content-shadow-color;
            border-radius: 8px;
            height: 424px;
            list-style: none;
            display: inline-block;
            & figure {
                width: 100%;
                & img {
                    width: 100%;
                    object-fit: cover;
                    height: 212px;
                    border-radius: 8px;
                }
                & h3 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: $title-item-list-color;
                    height: 60.01px;
                    margin: 24px 24px 8px 24px;
                    overflow-y: auto;
                }
                & figcaption {
                    margin: 0 24px 24px 24px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $description-item-list-color;
                    max-height: 91px;
                    overflow-y: auto;
                }
            }
        }
    }
}

.slick-slide {
    margin: 0 10.5px;
}

.slick-list {
    margin: 0 -10.5px;
}

.slick-track{
    display: flex !important;
    justify-content: center;
}

.slick-prev {
    background: url("svgs/right arrow.svg") no-repeat center center !important;
    border: none;
    left: -40.36px;
    font-size: 0;
    background-size: 13.64px 29.47px;
    width: 13.64px;
    height: 29.47px;
}

.slick-next {
    background: url("svgs/left arrow.svg") no-repeat center center !important;
    border: none;
    font-size: 0;
    background-size: 13.64px 29.47px;
    right: -40.36px;
    width: 13.64px;
    height: 29.47px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 0;
    opacity: unset;
}

.slick-dotted.slick-slider {
    margin-bottom: 21px;
}

.slick-dots li {
    width: auto;
    margin: 0;
}

.slick-dots li button {
    width: auto;
    height: 17px;
    display: flex;
    align-items: center;
}

.slick-dots li button:before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    color: $slider-ellipse-color;
    font-size: 10.01px;
    width: 10.01px;
    height: 10.01px;
    opacity: unset;
}

.slick-dots li.slick-active button:before {
    border: 0.5px solid $slider-ellipse-color;
    color: transparent;
    border-radius: 100px;
    width: 15.49px;
    height: 15.49px;
    opacity: unset;
}

@media (min-width: $breakpoint-desk) {
    h2 {
        font-size: 64px;
    }

    .slider-container {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 125px;
        & ul {
            width: 100%;
            margin-top: 41px;
            & .slider-content {
                width: 544px;
                height: 768px;
                & figure {
                    & img {
                        width: 544px;
                        height: 400px;
                    }
                    & h3 {
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 56px;
                        height: 120px;
                    }
                    & figcaption {
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 48px;
                        max-height: 192px;
                    }
                }
            }
        }
    }

    .slick-prev {
        left: -70px;
        width: 26px;
        height: 58px;
        background-size: 26px 58px !important;
    }

    .slick-next {
        right: -70px;
        width: 26px;
        height: 58px;
        background-size: 26px 58px !important;
    }


    .slick-dots li button:before {
        font-size: 20.01px;
        width: 20.01px;
        height: 20.01px;
    }

    .slick-dots li.slick-active button:before {
        width: 25.49px;
        height: 25.49px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .slider-container {
        margin-top: 40.22px;
        margin-bottom: 0;
        position: relative;

        & ul {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & .slider-content {
                width: 100%;
                height: 710px;
                padding: 0;
                min-height: 710px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:not(:first-child) {
                    margin-left: 0;
                    margin-top: 24px;
                }
                & figure {
                    & img {
                        width: 100%;
                        height: 570px;
                        object-position: top;
                        height: 570px;
                        border-radius: 8px;
                    }
                    & h3 {
                        margin: 14px 24px 8px 24px;
                        color: $title-item-list-color;
                    }
                    & figcaption {
                        margin: 0 24px 24px 24px;
                    }
                }
            }
        }
    }

    .slick-dots li button {
        display: none;
    }

    .slick-list {
        width: 100%;
    }
}

@media (max-width: $breakpoint-mobile) {
    .slider-container {
        margin-top: 40.7px;
        margin-bottom: 77px;
        & ul {
            margin-top: 32px;
            & .slider-content {
                width: 100%;
                height: 400px;
                min-height: 400px;
                & figure {
                    & img {
                        width: 100%;
                        height: 212px;
                        object-fit: cover;
                    }
                    & h3 {
                        color: $title-item-list-color;
                    }
                    & figcaption {
                        margin: 0 24px 24px 24px;
                    }
                }
            }
        }
    }
}

@media(width: $breakpoint-desk-1440) {
    .slider-content {
        width: 279px !important;
    }

}

@media (max-width: $breakpoint-desk) and (min-width: $breakpoint-desk-2425) {
    .slider-container {
        h2 {
            font-size: 64px;
        }

        & ul {
            & .slider-content {
                width: 544px;
                min-height: 768px;
                & img {
                    width: 544px;
                    height: 400px !important;
                }
                & h3 {
                    font-weight: 700;
                    font-size: 48px !important;
                    line-height: 56px !important;
                    height: 120px !important;
                }
                & figcaption {
                    font-weight: 400;
                    font-size: 32px !important;
                    line-height: 48px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
}


