// Colors

$background-color: #ffffff;
$title-form-color: #000000;
$input-image-border-color: #e5e5e5;
$input-text-color: #858585;
$input-titulo-border-color: #d6d6d6;
$input-descrição-border-color: #d6d6d6;
$button-submit-color: #ff5a5f;
$text-button-submit-color: #ffffff;
$title-list-color: #000000;
$title-item-list-color: #333333;
$description-item-list-color: #858585;
$slider-ellipse-color: #858585;
$slider-content-shadow-color: #00000014;

// Breakpoints

$breakpoint-desk: 2500px;

$breakpoint-desk-2425: 2425px;

$breakpoint-desk-1907: 1907px;

$breakpoint-desk-1440: 1440px;

$breakpoint-tablet: 1025px;

$breakpoint-mobile: 491px;
